<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17740430982-h4cct9m6mak39sbvm1brmtqn9hcbje9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17740430982-h4cct9m6mak39sbvm1brmtqn9hcbje9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17740430982-q3nq867ii5svo5m3npj2h4jlfkkmompt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQI61uW82QCfSBKwH5PNoHhmD508jjezI</string>
	<key>GCM_SENDER_ID</key>
	<string>17740430982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.quicklai</string>
	<key>PROJECT_ID</key>
	<string>quickaiproductv1</string>
	<key>STORAGE_BUCKET</key>
	<string>quickaiproductv1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17740430982:ios:9bc8a30a33607b96751b07</string>
	<key>DATABASE_URL</key>
	<string>https://quickaiproductv1-default-rtdb.firebaseio.com</string>
</dict>
</plist>